resource "google_project_iam_custom_role" "{{.Name}}" {
  project     = "{{.Project}}"
  role_id     = "{{.RoleID}}"
  title       = "{{.Name}}"
  description = "A user with least privileges"
  permissions= [
         "{{ .Permissions }}"
         ]
}
