on:
  push:
    branches:
      - master

name: CI
permissions: read-all

jobs:
  test:
    ## We want to define a strategy for our job
    strategy:
      ## this will contain a matrix of all the combinations
      ## we wish to test again:
      matrix:
        go-version: [1.19.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]

    ## Defines the platform for each test run
    runs-on: ${{ matrix.platform }}

    ## the steps that will be run through for each version and platform
    ## combination
    steps:
    ## sets up go based on the version
    - name: Install Go
      uses: actions/setup-go@v3.5.0
      with:
        go-version: ${{ matrix.go-version }}

    ## checks out our code locally, so we can work with the files
    - name: Checkout code
      uses: actions/checkout@v3.3.0

    ## runs go test ./...
    - name: Build
      run: go build ./...

    ## runs go test ./...
    - name: Test
      run: go test ./...
