name: 'Resources'
on:
  schedule:
    - cron: '0 18 * * 5'
  workflow_dispatch:
permissions: read-all

jobs:
    build:
      permissions: write-all
      runs-on:  ubuntu-latest
      steps:
        - name: Install Go
          uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
          with:
            go-version: ${{ matrix.go-version }}

        ## checks out our code locally, so we can work with the files
        - name: Checkout code
          uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

        ## runs go test ./...
        - name: Build
          run: go build -o ${{ github.workspace }} ./...


        - name: Checkout AWS
          uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
          with:
            repository: hashicorp/terraform-provider-aws
            path: aws

        - name: Parse Azurerm
          run: ${{ github.workspace }}/pike parse -d ${{ github.workspace }}/aws -name aws

        - name: Checkout AZURERM
          uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
          with:
            repository: hashicorp/terraform-provider-azurerm
            path: azurerm

        - name: Parse Azurerm
          run: ${{ github.workspace }}/pike parse -d ${{ github.workspace }}/azurerm -name azurerm

        - name: Generate Google
          uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
          with:
            repository: hashicorp/terraform-provider-google
            path: google

        - name: Parse Google
          run: ${{ github.workspace }}/pike parse -d ${{ github.workspace }}/google -name google

        - name: copy
          run: cp ${{ github.workspace }}/*.json ${{ github.workspace }}/src/parse/
        - name: setup git config
          run: |
            # setup the username and email. I tend to use 'GitHub Actions Bot' with no email by default
            git config user.name "GitHub Actions Bot"
            git config user.email "jim.wolf@duck.com"

        - name: commit
          run: |
            # Stage the file, commit and push
            mv *-members.json src/parse
            git add src/parse/*-members.json --ignore-errors
            git commit -m "updated resources" --allow-empty
            git push origin master
