name: 'Stale'
on:
  schedule:
    - cron: '30 1 * * *'
permissions: read-all

jobs:
  stale:
    permissions:
      contents: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@a20b814fb01b71def3bd6f56e7494d667ddf28da # v4.1.1
        with:
          stale-issue-message: 'This issue is stale because it has been open 30 days with no activity. Remove stale label or comment or this will be closed in 5 days.'
          days-before-stale: 30
          days-before-close: 5
          enable-statistics: true
          exempt-issue-labels: enhancement
